.personalInfoElement {
  display: flex;
  flex-direction: row;
}

.personalDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personalImage {
  padding: 24px 24px;
  width: 128px;
  height: 128px;
}

.name,
.role {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.email {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
