.input-search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 8px 10px;
}

.input-search {
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--black);
  padding: 0px 10px;
}
