.pokemonCardContainer {
  width: 25%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d6092d;
}

.pokemonTypeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemonButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemonName {
  color: white;
  font-weight: bold;
  font-family: Raleway;
  font-size: 200%;
}

.pokemonImage {
  max-width: 100%;
  max-height: 100%;
}
