.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: lightgray;
}

.wrapperSimple {
  background: none;
}

.wrapperRounded {
  border-radius: 50px;
}

.inputSearch {
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--black);
  padding: 0px 10px;
  letter-spacing: 0.03em;
  background: none;
  font-family: "Poppins";
}

.closeButton {
  display: flex;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

.closeIcon {
  fill: var(--black);
}

.closeIcon:hover {
  fill: var(--red2);
}
